
a {
  @include global-transition(.1s);
  color: $blue;
}

@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 2rem;
  background: $blue;
  border: 1px solid $blue;
  border-radius: 9999px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: $weight-bold;
}

@mixin btn-dk-blue {
  background: $dk-blue;
  border: 1px solid $dk-blue;

  &:hover {
    background-color: $blue;
  }
}

@mixin btn-outline {
  background: #fff;
  border: 1px solid $dk-blue;
  color: $dk-blue;

  &:hover {
    background: $dk-blue;
    color: #fff;
  }
}

@mixin btn--mobile-full-width {
  @include bp-max-width($small) {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
}

@mixin cta-link {
  font-weight: $weight-bold;
  color: $coal;
  border-bottom: 4px solid $lt-blue;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

@mixin cta-link--white {
  font-weight: $weight-bold;
  color: #fff;
  border-bottom: 4px solid #fff;

  &:hover {
    border-color: $blue;
  }
}

.btn {
  @include btn;
}

.btn-dk-blue {
  @include btn-dk-blue;
}

.btn-outline {
  @include btn-outline;
}

.btn--mobile-full-width {
  @include btn--mobile-full-width;
}

.cta-link {
  @include cta-link;
}

.cta-link--white {
  @include cta-link--white;
}
