
a {
  @include global-transition(.1s);

	&:hover {
	}
}

@mixin btn {
  @include font-size(18px);
  display: inline-block;
  padding: 1.125rem 2rem;
  background: $blue;
  border-radius: 5px;
  color: #fff;
  font-weight: $weight-bold;
}

@mixin btn--dk-blue {
  background: $dk-blue;

  &:hover {
    background-color: $blue;
  }
}

@mixin btn--outline {
  background: #fff;
  border: 1px solid $dk-blue;
  color: $dk-blue;

  &:hover {
    background: $dk-blue;
    color: #fff;
  }
}

@mixin btn--mobile-full-width {
  @include bp-max-width($small) {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
}

@mixin cta-link {
  font-weight: $weight-bold;
  color: $coal;
  border-bottom: 4px solid $lt-blue;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

.btn {
  @include btn;
}

.btn--dk-blue {
  @include btn--dk-blue;
}

.btn--outline {
  @include btn--outline;
}

.btn--mobile-full-width {
  @include btn--mobile-full-width;
}

.cta-link {
  @include cta-link;
}
