
$dk-blue:   #0081c1;
$blue:      #2793d1;
$md-blue:   #67Bae4;
$lt-blue:   #6ac8e5;
$pale-blue: #f7fbfd;

$coal:      #222;
$dk-grey:   #6d6e70;
$grey:      #808285;
$md-grey:   #a5a7aa;
$lt-grey:   #cfd1d2;
