
$dk-blue:   #0081c1;
$blue:      #2793d1;
$md-blue:   #67Bae4;
$lt-blue:   #6ac8e5;
$lt-blue-2: #bae3f7;
$pale-blue: #f7fbfd;

$coal:      #262626;
$dk-grey:   #404040;
$grey:      #767676;
$md-grey:   #a5a7aa;
$lt-grey:   #cfd1d2;
