
$gutter: 40px;
$col:    66px;

@mixin max-col-span($columns) {
  max-width: (($columns - 1) * $gutter) + ($columns * $col);
}

@function col-span($columns) {
  @return (($columns - 1) * $gutter) + ($columns * $col);
}

[class*='flex-'] {
  @include bp-min-width($medium) {
    display: flex;
  }
}

.flex-grid {
  @include bp-min-width($medium) {
    flex-wrap: wrap;
    margin: 0 -20px;
  }
}

.flex-row {
  @include bp-min-width($medium) {
    justify-content: space-between;
    margin: 0 -20px;
  }
}

.flex-row__center {
  @include bp-min-width($medium) {
    align-items: center;
  }
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

[class*='col-'] {
  @include bp-min-width($medium) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

[class*='col-']:not(:last-child) {
  @include bp-max-width($medium) {
    margin-bottom: 30px;
  }
}

.col-span-9 {
  @include bp-min-width($medium) {
    width: 75%;
  }
}

.col-span-8 {
  @include bp-min-width($medium) {
    width: 66.66%;
  }
}

.col-span-7 {
  @include bp-min-width($medium) {
    width: 58.333%;
  }
}

.col-span-6 {
  @include bp-min-width($medium) {
    width: 50%;
  }
}

.col-span-5 {
  @include bp-min-width($medium) {
    width: 41.666%;
  }
}

.col-span-4 {
  @include bp-min-width($medium) {
    width: 33.33%;
  }
}

.col-span-3 {
  @include bp-min-width($medium) {
    width: 25%;
  }
}

.col-span-2 {
  @include bp-min-width($medium) {
    width: 16.666%;
  }
}
