
svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.blue-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  border-radius: 32px;
  color: #fff;

  svg {
    width: 24px;
    height: 24px;
  }
}