
.js-no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  padding: 32px 20px;

  @include bp-min-width($medium) {
    padding: $base*4 40px;
  }
}

.page-content {
  @include bp-min-width($large) {
    padding-right: 40px;
  }
}

.max-8-col {
  max-width: 850px;
}

.bg-white {
  background: #fff;;
}

.bg-blue {
  background: $blue;
  color: #fff;
}

.bg-blue-dk {
  background: $dk-blue;
}

.bg-blue-md {
  background: $md-blue;
}

.bg-blue-pale {
  background: $pale-blue;
}

.bg-grey-lt {
  background: $lt-grey;
}

.border-t--lt-blue {
  border-top: 1px solid $lt-blue-2;
}

.border-t--lt-grey {
  border-top: 1px solid $lt-grey;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mobile-is-hidden {
  @include bp-max-width($medium) {
    @include sr-only;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.rounded {
  border-radius: 4px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-2xl {
  border-radius: 16px;
}

.shadow-image {
	@include img-shadow;
}

.w-full {
  width: 100%;
}