
.js-no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;

  @include bp-max-width($medium) {
    padding: $base 20px;
  }

  @include bp-min-width($medium) {
    width: 94%;
    padding-top: $base*4;
    padding-bottom: $base*4;
  }
}

.page-content {
  @include bp-min-width($large) {
    padding-right: 40px;
  }
}

.bg__blue {
  background: $blue;
  color: #fff;
}

.bg__md-blue {
  background: $md-blue;
}

.bg__pale-blue {
  background: $pale-blue;
}

@mixin is-hidden {
  overflow: hidden;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

.is-hidden {
  @include is-hidden;
}

.mobile-is-hidden {
  @include bp-max-width($medium) {
    @include is-hidden;
  }
}

.shadow-image img {
	@include img-shadow;
}
