
$sans: 'Mark', Helvetica, arial, sans-serif;

$base: 24px;

$weight-light:  300;
$weight-book:   400;
$weight-bold:   700;

body {
  font: $weight-book 1em/1.5em $sans;
  color: $dk-grey;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

strong, b, .font-bold {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-blue-dk {
  color: $dk-blue;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: #fff;
}

.text-grey-dk {
  color: $dk-grey;
}

@mixin text-h1 {
  @include font-size(32px);
  line-height: 1.125;
  font-weight: $weight-light;
  letter-spacing: -.05em;

  @include bp-min-width($medium) {
    @include font-size(48px);
  }
}

.text-h1 {
  @include text-h1;
}

@mixin text-h2 {
  @include font-size(24px);
  line-height: 1.25;
  letter-spacing: -.025em;

  @include bp-min-width($medium) {
    @include font-size(36px);
    font-weight: $weight-light;
  }
}

.text-h2 {
  @include text-h2;
}

@mixin text-h3 {
  @include fontUnits(21px, 27px);

  @include bp-min-width($medium) {
    @include fontUnits(30px, 36px);
    font-weight: $weight-light;
    letter-spacing: -.025em;
  }
}

.text-h3 {
  @include text-h3;
}

@mixin text-h4 {
  @include font-size(24px);
  line-height: 1.125em;
  letter-spacing: -.025em;
}

.text-h4 {
  @include text-h4;
}

.text-h5 {
  font-weight: $weight-bold;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.post-cat {
  font-size: 0.75rem;
  font-weight: $weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;;
}

.page-title {
  margin-bottom: $base;
  padding-bottom: 12px;
  color: $dk-blue;
  background: $icon-wave no-repeat left bottom;
}

.page-subtitle {
  margin-bottom: 12px;
  color: $coal;
}

.section-title {
  margin-bottom: $base;
  color: $blue;
}

.section-subtitle {
  margin-bottom: 12px;
  color: $blue;
}

.bg-blue .section-title,
.bg-blue .section-subtitle {
  color: #fff;
}

div + .section-subtitle {
  padding-top: 36px;
}

.body-content h2,
.body-content h3 {
  @include fontUnits(21px, 27px);
  color: $blue;
  margin-bottom: 12px;

  @include bp-min-width($medium) {
    @include fontUnits(27px, 33px);
    font-weight: $weight-light;
  }
}

.body-content h4 {
  @include font-size(18px);
  color: $coal;
  font-weight: $weight-bold;

  @include bp-min-width($medium) {
    line-height: 1.666;
  }
}

.body-content h2:not(:first-child),
.body-content h3:not(:first-child) {
  padding-top: 18px;
}

.bg-blue .body-content h2,
.bg-blue .body-content h3,
.bg-blue .body-content h4 {
  color: #fff;
}

.section-content p,
.section-list {
  @include bp-min-width($medium) {
    @include font-size(18px);
    line-height: 1.666;
  }
}

.section-content p:not(:last-child) {
  margin-bottom: $base;
}

.section-list {
  margin-bottom: $base;

  @include bp-min-width($medium) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
  }
}

.section-list li {
  @include bp-min-width($medium) {
    margin-left: 16px;
    list-style-type: disc;
    margin-bottom: 8px;
  }
}

.body-content p,
.body-content ul,
.body-content ol {
  line-height: 1.6875;
}

.body-content ul {
  @include fontUnits(18px, 24px);
  color: $coal;
}

.body-content li {
  margin-bottom: 12px;
  padding-left: 20px;
  background: $icon-list-arrow no-repeat 0 2px;
}

.body-content p:not(:last-child),
.body-content ul:not(:last-child),
.body-content ol:not(:last-child),
.body-content blockquote:not(:last-child) {
  margin-bottom: 27px;
}

.body-content hr {
  display: none;
}

.page-template-default .body-content a {
  color: $blue;
  border-bottom: 1px solid white;

  &:hover {
    color: $dk-blue;
    border-color: $dk-blue;
  }
}
