/**
Class Naming Structure: block__element--modifier
**/

$sans: 'Mark', Helvetica, arial, sans-serif;

$base: 24px;

$weight-light:  300;
$weight-book:   400;
$weight-bold:   700;

body {
  font: $weight-book 1em/1.5em $sans;
  color: $dk-grey;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

strong, b {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

@mixin title__h1 {
  @include font-size(36px);

  @include bp-min-width($medium) {
    @include font-size(48px);
    font-weight: $weight-light;
  }
}

.title__h1 {
  @include title__h1;
}

@mixin title__h2 {
  @include font-size(24px);
  line-height: 1.25;

  @include bp-min-width($medium) {
    @include font-size(36px);
    font-weight: $weight-light;
  }
}

.title__h2 {
  @include title__h2;
}

@mixin title__h3 {
  @include fontUnits(21px, 27px);

  @include bp-min-width($medium) {
    @include fontUnits(30px, 36px);
    font-weight: $weight-light;
  }
}

.title__h3 {
  @include title__h3;
}

@mixin title__h4 {
  font-weight: $weight-bold;

  @include bp-min-width($medium) {
    @include font-size(21px);
  }
}

.title__h4 {
  @include title__h4;
}

.title__h5 {
  font-weight: $weight-bold;
  line-height: 1.5;
}

.page-title {
  margin-bottom: $base;
  padding-bottom: 12px;
  color: $dk-blue;
  background: $icon-wave no-repeat left bottom;
}

.page-subtitle {
  margin-bottom: 12px;
  color: $coal;
}

.section-title {
  margin-bottom: $base;
  color: $blue;
}

.section-subtitle {
  margin-bottom: 12px;
  color: $blue;
}

.bg__blue .section-title,
.bg__blue .section-subtitle {
  color: #fff;
}

div + .section-subtitle {
  padding-top: 36px;
}

.body-content h2,
.body-content h3 {
  @include fontUnits(21px, 27px);
  color: $blue;
  margin-bottom: 12px;

  @include bp-min-width($medium) {
    @include fontUnits(27px, 33px);
    font-weight: $weight-light;
  }
}

.body-content h4 {
  @include font-size(18px);
  color: $coal;
  font-weight: $weight-bold;

  @include bp-min-width($medium) {
    line-height: 1.666;
  }
}

.body-content h2:not(:first-child),
.body-content h3:not(:first-child) {
  padding-top: 18px;
}

.bg__blue .body-content h2,
.bg__blue .body-content h3,
.bg__blue .body-content h4 {
  color: white;
}

.section-content p,
.section-list {
  @include bp-min-width($medium) {
    @include font-size(18px);
    line-height: 1.666;
  }
}

.section-content p:not(:last-child), {
  margin-bottom: $base;
}

.section-list {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-list li {
  @include bp-min-width($medium) {
    width: 50%;
  }
}

.body-content p,
.body-content ul,
.body-content ol {
  line-height: 1.6875;
}

.body-content ul {
  @include fontUnits(18px, 24px);
  color: $coal;
}

.body-content li {
  margin-bottom: 12px;
  padding-left: 20px;
  background: $icon-list-arrow no-repeat 0 2px;
}

.body-content p:not(:last-child),
.body-content ul:not(:last-child),
.body-content ol:not(:last-child),
.body-content blockquote:not(:last-child) {
  margin-bottom: 27px;
}

.body-content a {
  color: $blue;
  border-bottom: 1px solid white;

  &:hover {
    color: $dk-blue;
    border-color: $dk-blue;
  }
}
