
.home-hero {
	overflow: hidden;
	position: relative;
}

.home-hero .container {
	padding-bottom: 0;

	@include bp-min-width($medium) {
		position: relative;
		padding-top: $base*5;
		padding-bottom: $base*5;
	}
}

.home-hero__content {
	position: relative;
	z-index: 10;

	@include bp-max-width($medium) {
		margin-bottom: $base;
	}
}

.home-hero__title {
	@include font-size(42px);
	margin-bottom: 12px;
	color: $blue;
	font-weight: $weight-light;

	@include bp-min-width($medium) {
    @include font-size(72px);
		margin-bottom: $base;
  }
}

.home-hero__subtitle {
	margin-bottom: 12px;
	color: $coal;

	@include bp-min-width($medium) {
		max-width: 680px;
		margin-bottom: $base;
	}
}

.home-hero__benefits {
	margin-bottom: 30px;
	color: $coal;

	@include bp-min-width($medium) {
		display: flex;
		flex-wrap: wrap;
		max-width: 560px;
	}
}

.home-hero__benefits li {
	@include bp-min-width($medium) {
		@include font-size(18px);
		width: 50%;
		line-height: 1.666;
	}
}

.home-hero__image {
	@include bp-max-width($medium) {
		margin-left: -20px;
		margin-right: -20px;
	}

	@include bp-min-width($medium) {
		@include vertical-center;
		right: -40px;
		max-width: 754px;
	}
}

.home-hero__image img {
	@include bp-min-width($medium) {
		@include img-shadow;
	}
}

.home-doctor-grid {
	@include bp-min-width($large) {
		align-items: center;
	}
}

.home-doctor__image {
	text-align: center;

	@include bp-min-width($medium) {
		order: -1;
	}
}

.home-doctor__image img {
	@include img-shadow;

	@include bp-min-width($large) {
		max-width: 380px;
	}
}

.home-location {
	background-color: $blue;
}

.home-map {
	position: relative;
	background: $home-map $lt-blue no-repeat center top;
	background-size: cover;

	@include bp-min-width($large) {
		background-position: center center;
	}
}

.home-map .container {
	height: 800px;

	@include bp-min-width($large) {
		height: 588px;
	}
}

.home-map .appt-form {
	@include bp-max-width($large) {
		position: absolute;
		right: 20px;
		bottom: 0;
		left: 20px;
	}
}
