
.home-hero {
	overflow: hidden;
	position: relative;
}

.home-hero .container {
	padding-bottom: 0;

	@include bp-min-width($medium) {
		position: relative;
		padding-top: $base*5;
		padding-bottom: $base*5;
	}
}

.home-hero__content {
	position: relative;
	z-index: 10;

	@include bp-max-width($medium) {
		margin-bottom: $base;
	}
}

.home-hero__title {
	@include font-size(42px);
	margin-bottom: 12px;
	color: $blue;
	font-weight: $weight-light;

	@include bp-min-width($medium) {
    @include font-size(72px);
		margin-bottom: $base;
  }
}

.home-hero__subtitle {
	margin-bottom: 12px;
	color: $coal;

	@include bp-min-width($medium) {
		max-width: 680px;
		margin-bottom: $base;
	}
}

.home-hero__benefits {
	margin-bottom: 24px;
	color: $coal;

	@include bp-min-width($medium) {
		max-width: 720px;
	}
}

.home-hero__image {
	@include bp-max-width($medium) {
		margin-left: -20px;
		margin-right: -20px;
	}

	@include bp-min-width($medium) {
		@include vertical-center;
		right: -40px;
		max-width: 754px;
	}
}

.home-doctor__image {
	text-align: center;

	@include bp-min-width($medium) {
		order: -1;
	}

	@include bp-min-width($large) {
		padding: 0 6%;
	}
}

.home-veins__image {
	@include bp-min-width($large) {
		text-align: center;
		padding: 0 12%;
	}
}

.vein-badge {
	overflow: hidden;
	position: relative;
	padding-bottom: 100%;
	background-color: #fff;
	border-radius: 50%;
}

.vein-badge img {
	@include absolute-center;
	width: 80%;
}

.home-payment__image {
	@include bp-min-width($large) {
		padding-left: 3%;
		padding-right: 3%;
	}
}

.home-location {
	background-color: $blue;
}

.home-map {
	position: relative;
	background: $home-map $lt-blue no-repeat 75% -20px;
	background-size: 1200px;

	@include bp-min-width($medium) {
		background-position: center center;
		background-size: cover;
	}
}

.home-map .container {
	height: 640px;

	@include bp-min-width($medium) {
		height: 588px;
	}
}

.home-map .appt-form {
	margin: 0;
	background: #fff;
	color: $dk-grey;

	@include bp-max-width($medium) {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.home-map .appt-form .title__h4 {
	color: $blue;
}

.home-map .appt-form input:not([type="button"]) {
  border: 1px solid $md-grey;
}

.home-map .appt-form .submit-wrap input {
	background-color: $dk-blue;
}

.home-map .appt-form .nf-error-msg {
	color: red;
}
