
.landig-header .container {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

.landig-header .logo img {
	height: 32px;

  @include bp-min-width($small) {
		height: 40px;
	}
}

.landig-header .btn {
	padding: 0 1.25rem;
	height: 44px;

  @include bp-max-width($small) {
		padding: 0 1rem;
		svg {
			display: none;
		}
	}
}

.landing-nav {
	@include absolute-center;
	bottom: 20px;

  @include bp-max-width($medium) {
		display: none;
  }
}

.landing-hero {
	position: relative;
}

.landing-hero .container {
	position: relative;
	z-index: 99;
}

.landing-hero img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: .2;
}

.landing-form {
	.nf-field-label {
		@include sr-only;
	}

	input:not([type="submit"]) {
		border: 1px solid #222;
	}

	input[type="submit"] {
		height: 56px;
		width: 100%;
		font-size: 1.25rem;
		padding: 1rem;
	}
}

.before-after .btn {
	border: 1px solid #fff;
}

.landing-video iframe {
	display: block;
}

.page-template-page-landing .reviews {
	background-color: $pale-blue;
}

.landing-ctas .btn {
	width: 100%;
}

.landing-ctas li {
	@include bp-max-width($medium) {
		width: 100%;
  }
}

.landing-footer-address {
	@include bp-min-width($medium) {
		@include absolute-center;
	}
}

.landing-footer .btn {
	@include bp-max-width($medium) {
		width: 100%;
  }
}