
.practice-office .container {
	@include bp-max-width($medium) {
		padding-bottom: 0;
	}
}

.practice-office__image {
	@include bp-max-width($medium) {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.practice-office__image img {
	@include bp-min-width($medium) {
		@include img-shadow;
	}
}

.practice-office .slick-arrow {
	color: $blue;
}

.practice-office .slick-arrow svg {
	width: 16px;
	height: 30px;
}
