
.appt-form {
	align-self: flex-start;
	padding: 20px;
	background: $md-blue;
	color: #fff;

	@include bp-max-width($small) {
		margin-left: -20px;
		margin-right: -20px;
	}

	@include bp-min-width($medium) {
		@include max-col-span(4);
		padding: 30px;
	}
}

.appt-form nf-fields-wrap {
	@include bp-min-width($medium) {
		display: flex;
		flex-wrap: wrap;
	}
}

.appt-form nf-field {
	@include bp-min-width($medium) {
		width: 100%;
	}
}

.appt-form nf-field:nth-child(2),
.appt-form nf-field:nth-child(3) {
	@include bp-min-width($medium) {
		width: 50%;
	}
}

.appt-form nf-field:nth-child(2) {
	@include bp-min-width($medium) {
		padding-right: 10px;
	}
}

.appt-form nf-field:nth-child(3) {
	@include bp-min-width($medium) {
		padding-left: 10px;
	}
}

.appt-form .title__h4 {
	margin-bottom: 6px;
}

.appt-form p {
	@include font-size(14px);
	margin-bottom: 18px;
	line-height: 1.3;
}

.appt-form label {
	@include is-hidden;
}

.appt-form input {
	border: none;
}

.submit-wrap input {
	@include btn;
	@include btn__dk-blue;
	width: 100%;
	height: 48px;
	padding: 0;
	font-size: 1rem;
}

.nf-form-fields-required {
	display: none;
}

.appt-form .nf-error-msg {
	color: $pale-blue;
}
