
.appt-form {
	align-self: flex-start;
	padding: 20px;
	background: $md-blue;
	color: #fff;

	@include bp-max-width($small) {
		margin-left: -20px;
		margin-right: -20px;
	}

	@include bp-min-width($medium) {
		@include max-col-span(4);
		padding: 30px;
	}
}

.appt-form .title__h4 {
	margin-bottom: 6px;
}

.appt-form p {
	@include font-size(14px);
	margin-bottom: 18px;
	line-height: 1.3;
}

.appt-form label {
	@include is-hidden;
}

.appt-form input {
	border: none;
}

.btn__appt-form {
	width: 100%;
	height: 54px;
	padding: 0;
}
