
.page-hero .section-content p:last-child:not(:first-child) {
	font-weight: $weight-bold;
	color: $coal;
}

.page-hero .section-content p {
	@include bp-min-width($xlarge) {
		padding-right: 30px;
	}
}

.page-hero .section-content a {
	@include cta-link;
}

.hero-waves {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 100%;

	@include bp-min-width($medium) {
		width: 850px;
	}
}