
.language-nav {
  @include bp-max-width($xsmall) {
    display: none;
    position: fixed;
    top: 26px;
    left: 20px;
    z-index: 30;
  }

  @include bp-min-width($xsmall) {
    position: absolute;
  }

  @include bp-min-max($xsmall, $large) {
    @include font-size(14px);
    transform: translateY(-50%);
    top: 50%;
    right: 100px;
  }

  @include bp-min-max($medium, $large) {
    right: 80px;
  }

  @include bp-min-width($large) {
    @include font-size(14px);
    top: 18px;
    right: 0;
  }
}

.language-nav.js-is-visible {
  display: block;
}

.language-nav ul {
  display: flex;
}

.language-nav li:last-child {
  margin-left: 20px;
}

.language-nav a {
  color: $lt-grey;

  @include bp-min-width($xsmall) {
    color: $md-grey;
  }
}

.language-nav .current-lang a {
  color: #fff;

  @include bp-min-width($xsmall) {
    color: $dk-grey;
  }
}
