
.main-nav {
  @include bp-max-width($xlarge) {
    width: 100%;
  }

  @include bp-min-width($large) {
    padding-top: 30px;
  }
}

.mobile-btn {
  @include font-size(14px);
  transition-property: none;
  transform: translateY(-50%);
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 6px 12px;
  font-weight: $weight-book;

  @include bp-max-width($medium) {
    right: 20px;
  }

  @include bp-max-width($large) {
    display: inline-block;
  }
}

.mobile-btn.js-is-active {
  transform: translateY(0);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 30;
  background: none;
  border-color: #fff;
}

.mobile-btn__label.js-is-hidden {
  display: none;
}

.main-nav .menu {
  @include bp-max-width($large) {
    display: none;
    background: $blue;
  }

  @include bp-min-width($large) {
    position: relative;
    display: flex;
  }

  @include bp-max-width($xlarge) {
    justify-content: center;
  }
}

.main-nav .menu.js-is-visible {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-nav .menu > li {
  @include bp-min-width($large) {
    position: relative;
    margin-left: 40px;
  }
}

.main-nav .menu > li > a {
  overflow: hidden;
  position: relative;
  display: block;
  padding-bottom: 18px;
  color: $blue;

  @include bp-max-width($large) {
    @include font-size(24px);
    color: #fff;
  }
}

.main-nav .menu > li > a:hover {
  @include bp-min-width($large) {
    color: $dk-blue;
  }
}

.main-nav .menu > li > a:after {
  transition: bottom .15s ease-in;
  content: '';
  position: absolute;
  right: 0;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: $blue;
}

.main-nav .menu > li > a:hover:after,
.main-nav .menu > .current_page_item > a:after,
.main-nav .menu > .current-page-ancestor > a:after {
  bottom: 0;
}


// Drop down

.main-nav .sub-menu {
  transition: opacity .2s .1s ease-in, visibility .2s 0s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: 220px;
  padding: 12px 0;
  background: $dk-blue;
}

.main-nav .menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.main-nav .sub-menu li {
  line-height: 1;
}

.main-nav .sub-menu a {
  display: block;
  padding: 8px 30px;
  color: $pale-blue;
}

.main-nav .sub-menu a:hover {
  color: #fff;
  background: $blue;
}
